<div class="card mb-3 me-lg-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="location.src" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title mx-2">{{location.locationName}}</h5>
          <div class="row section p-2">
              <div class="col-md-5 ">
                <p class="card-text">{{location.address}}</p>
              </div>
              <div class="col-md-1 d-none d-md-block">
                <div class="d-flex" style="height: 100px;">
                    <div class="vr"></div>
                </div>
              </div>
              <div class="col-md-6 ">
                <p class="card-text">Weekdays: 9:00-20:00</p>
                <p class="card-text">Saturday: 9:00-20:00</p>
                <p class="card-text">Sunday 9:00-20:00</p>
              </div>

          </div>
        </div>
      </div>
    </div>
</div>
