<div class=" container-xxl sticky-top bg-dark">
    <div class="container-xxl" id="nav-top">
        <div class="d-flex" id="nav-top-text">
            <div class="p-2 me-auto top-left-text">
                <p class=" fw-bold">
                    Ontario's Best Flower Delivery
                </p>
            </div>
            <div  class="m-2 d-none d-sm-flex top-right-text">
                <p class="fw-bold"> 
                    +1 613-555-5555
                </p>
            </div>
            <div routerLink="/about" class="m-2">
                <a class="fw-bold text-decoration-none top-right-text"> 
                    Hours & Locations
                </a>
            </div>
            <div class="m-2">
                <a class="fw-bold text-decoration-none top-right-text"> 
                    Help
                </a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark mt-2" id="nav-bar">
        <div class="container-xxl bg-dark">
            <a href="#intro" class="navbar-brand">
                <span class="fw-bold ms-2">
                    Petal Utopia
                </span>
            </a>
            <span class="justify-content-start align-center d-lg-none d-block">
                <app-shopping-cart-icon></app-shopping-cart-icon>
            </span>
            <!--toggle button for mobile nav-->
            <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" 
            data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Toggle navigation" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
            </button>
    
        <!--navbar links-->
            <div class="collapse navbar-collapse justify-content-lg-start justify-content-md-end pt-2" id="main-nav" [ngClass]="{'d-block' : navbarOpen }">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a routerLink="" class="nav-link">
                            <span class="nav-link-text">
                                Home
                            </span>
                        </a>
                    </li>
                    <!--Dropdown-->
                    <li class="nav-item ">
                        <div class="nav-link">
                            <app-dropdown-btn (onClickFilter)="applyFilter($event)" class="nav-link-text" [dropdownBtn]="occasions" ></app-dropdown-btn>
                        </div>
                    </li>
                    <!--Dropdown-->
                    <li class="nav-item ">
                        <div class="nav-link">
                            <app-dropdown-btn (onClickFilter)="applyFilter($event)" class="nav-link-text" [dropdownBtn]="flowers" ></app-dropdown-btn>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/services" class="nav-link">
                            <span class="nav-link-text">
                                Services
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about" class="nav-link">
                            <span class="nav-link-text">
                                About Us
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--social icons-->
            <div class="justify-content-end align-center d-none d-lg-flex">
                <app-shopping-cart-icon id="social-icons" class="mx-3"></app-shopping-cart-icon>
                <em class="bi bi-facebook" id="social-icons"></em>
                <em class="bi bi-instagram" id="social-icons"></em>
                <em class="bi bi-person-circle" id="social-icons"></em>
            </div>
        </div>
    </nav> 
</div>


