<div class="sticky-top bg-white">
    <div class="container-xxl bg-white py-2" id="nav-top">
        <div class="d-flex" id="nav-top-text">
            <div class="me-auto ">
                <p class=" fw-bold py-2 text-secondary">
                    Ontario's Best Flower Delivery
                </p>
            </div>
            <div class="p-2 d-none d-sm-flex">
                <p class="fw-bold text-secondary"> 
                    +1 613-555-5555
                </p>
            </div>
            <div class="p-2">
                <a class="fw-bold text-secondary text-decoration-none"> 
                    Hours & Locations
                </a>
            </div>
            <div class="p-2">
                <a class="fw-bold text-secondary text-decoration-none"> 
                    Help
                </a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-light mt-2" id="nav-bar">
        <div class="container-xxl">
            <a href="#intro" class="navbar-brand">
                <span class="fw-bold text-secondary">
                    <em class="bi bi-book"></em>
                    Memo's Story
                </span>
            </a>
            <!--toggle button for mobile nav-->
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" 
            data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Toggle navigation" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
            </button>
    
        <!--navbar links-->
            <div class="collapse navbar-collapse justify-content-lg-start justify-content-md-end pt-2  bg-light" id="main-nav" [ngClass]="{'d-block' : navbarOpen }">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a href="#home-top" class="nav-link">
                            <span class="nav-link-text">
                                Home
                            </span>
                        </a>
                    </li>
                    <!--Dropdown-->
                    <li class="nav-item ">
                        <div class="nav-link">
                            <app-dropdown-btn (onClickFilter)="applyFilter($event)" class="nav-link-text" [dropdownBtn]="occasions" ></app-dropdown-btn>
                        </div>
                    </li>
                    <!--Dropdown-->
                    <li class="nav-item ">
                        <div class="nav-link">
                            <app-dropdown-btn (onClickFilter)="applyFilter($event)" class="nav-link-text" [dropdownBtn]="flowers" ></app-dropdown-btn>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="nav-link-text">
                                Services
                            </span>
                        </a>
                    </li>
                    <li class="nav-item ms-2 d-none d-md-inline">
                        <a href="#" class="btn btn-secondary">
                            <span class="nav-link-text">
                                About Us
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--social icons-->
            <div class="justify-content-end align-center d-none d-lg-block">
                <em class="bi bi-facebook" id="social-icons"></em>
                <em class="bi bi-instagram" id="social-icons"></em>
                <em class="bi bi-person-circle" id="social-icons"></em>
            </div>
        </div>
    </nav> 
</div>


