


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
        <!-- product -->
        <div class="product-content product-wrap clearfix product-deatil">
            <div class="row">
                <div class=" container col-lg-5 col-12">
                    <div class="product-image">
                        <div class="d-block w-100 rounded img-fluid mx-auto" id="card-img">
                            <img [src]="flowerCard.src" alt="" class="card-img-top" height="350" >
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-6 col-md-offset-1 col-12">
                    <h2 class="name">
                        {{flowerCard.title}}
                    </h2>
                    <div class="text-sm">
                        <app-star-ratings [starRatings]="flowerCard.rating"></app-star-ratings>
                    </div>
                    <hr />
                    <h3 class="price-container">
                        {{flowerCard.price}}$
                    </h3>
                    <div class="certified">
                        <ul>
                            <li>
                                <a href="javascript:void(0);">Delivery time<span>7 Working Days</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Certified<span>Quality Assured</span></a>
                            </li>
                        </ul>
                    </div>
                    <hr />
                    <div class="description description-tabs">
                        <div id="myTabContent" class="tab-content">
                            <div id="more-information">
                                <br />
                                <strong>Description Title</strong>
                                <p>
                                    Integer egestas, orci id condimentum eleifend, nibh nisi pulvinar eros, vitae ornare massa neque ut orci. Nam aliquet lectus sed odio eleifend, at iaculis dolor egestas. Nunc elementum pellentesque augue
                                    sodales porta. Etiam aliquet rutrum turpis, feugiat sodales ipsum consectetur nec.
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <a (click)= "onClickAddToCart()"  (click)="modal.dismiss('Cross click')" class="btn btn-success btn-lg">Add to cart</a>
                        </div>
                        <div class="col-6">
                            <div class="d-flex ms-3 ">
                            <label class=" mx-2 mt-1" for="quantity">Quantity: </label>
                            <input style="width: 60px" type="quantity" name="quantity" [(ngModel)]="quantity"  id="quantity" class="form-control quantity">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
  </ng-template>

  