<div id="home-top"></div>
<app-nav-bar></app-nav-bar>
<app-search-bar class=""></app-search-bar>

<section id="intro">
    <div class="container-md justify-content-between align-items-center py-5">
        <div class="row g-0">
            <div class="col-xl-6 col-12 container-md">
                <div class="row">
                    <div class="col d-flex">
                            <div class="section-title">
                                <h2>Where To Find Us</h2>
                                <p>We are located in Canada Ontario, but we are working to expand. Our beliefs are Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, voluptatum? Consequuntur nemo totam officiis ducimus sunt corrupti consequatur. Maiores, aliquam?</p>
                            </div>
                    </div>    
                </div>
                <div class="row d-flex">
                    <app-location-card [location]="locations[0]"></app-location-card>
                </div>
                <div class="row d-flex">
                    <app-location-card [location]="locations[1]"></app-location-card>
                </div>
            </div>
            <div class="col-xl-6 col-12 ">
                <div class="container-md d-flex">
                    <iframe width="700" height="570" src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                        frameborder="0"
                        style="border:0" 
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-md justify-content-between align-items-center py-5">
        <div class="row g-0">
            <div class="section-title">
                <h2>Our Team</h2>
                <div class="w-75">
                    <p>Our team consist of Flower Artist, Event Planner and we are the best when it comes to delivery!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container bootstrap snippets bootdey">
        <section id="team" class="white-bg padding-top-bottom">
            <div>
                <div class="row member-content right">
                    <div class="col-sm-7">
                        <div class="details">
                            <p>Hi everyone it's Memo, I'm in charge of event planning. I will work with you one-on-one to ensure you get the event of your dreams!</p>
                            <ul class="social-content">
                                <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                                <li><a><i class="fa fa-facebook fa-fw"></i></a></li>
                                <li><a><i class="fa fa-linkedin fa-fw"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in">
                        <img class="img-responsive img-center img-thumbnail img-circle" src="assets/Team/member-1.jpg" alt="">
                        <h4>Memo Aldu</h4>
                        <p class="title">Event Planner</p>
                    </div>
                </div>
                
                <div class="row member-content">
                    <div class="col-sm-3 col-sm-push-8 member-thumb">
                        <img class="img-responsive img-center img-thumbnail img-circle" src="assets/Team/member-2.jpg" alt="">
                        <h4>Natalie Diaz</h4>
                        <p class="title">Flower Artist</p>
                    </div>
                    <div class="col-sm-7 col-sm-pull-2">
                        <div class="details">
                            <p>Hi everyone it's Natalie, but you can also call me Nat I'm the flower artiste. Here at Petal Utopia you can be sure you will get best flowers. I will personally design every one of them. I will work with you one-on-one to ensure you get the flower bouquet that you've always dreamed of!</p>
                            <ul class="social-content">
                                <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                                <li><a><i class="fa fa-facebook fa-fw"></i></a></li>
                                <li><a><i class="fa fa-linkedin fa-fw"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row member-content right">
                    <div class="col-sm-7">
                        <div class="details">
                            <p>Hey everyone it's John, I am both an event planner and flower artist. I will work with you one-on-one to ensure that you are satisfied!</p>
                            <ul class="social-content">
                                <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                                <li><a><i class="fa fa-facebook fa-fw"></i></a></li>
                                <li><a><i class="fa fa-linkedin fa-fw"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1 member-thumb">
                        <img class="img-responsive img-center img-thumbnail img-circle" src="assets/Team/member-3.jpg" alt="">
                        <h4>John Mark</h4>
                        <p class="title">Flower Artist & Event Planner</p>
                    </div>
                </div>
            </div>
        </section>    
    </div>                  
</section>

<section id="home-footer">
    <app-page-footer></app-page-footer>
</section>
