  .map-container iframe{
    height:100%;
    width:100%;
  }

  .section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #ed8bf5;
    padding-left: 15px;
}
.embed-responsive {
    max-height:450px;
 }