<div class="container-xxl bg-dark text-light">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>LOCATIONS</h5>
          <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="nav-link p-0 text-muted"> 912 Bank St ON</a></li>
            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Ottawa K5F 0D2</a></li>
            <li class="nav-item"><a href="#" class="nav-link p-0 text-muted"> 412 Hunter St ON</a></li>
            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Kanata F5A 5E2</a></li>
          </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
            <h5>OPENING HOURS</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">WEEKDAYS 9:00-20:00</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">SATURDAY 9:00-18:00</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">SUNDAY 9:00-16:00</a></li>
            </ul>
          </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>SERVICES</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Flower Delivery</a></li>
            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">Event Planning</a></li>
            <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-muted">In-store flower pick-up</a></li>
          </ul>
        </div>
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <div class="d-flex flex-column flex-sm-row gap-2">
                <div class="input-group ">
                    <span class="input-group-text">
                        <em class="bi bi-envelope-fill"></em>
                    </span>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                </div>
                <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>© 2022 Company, Inc. All rights reserved.</p>
        <!--social icons-->
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><em class="bi bi-facebook" id="social-icons"></em></li>
          <li class="ms-3"><em class="bi bi-instagram" id="social-icons"></em></li>
          <li class="ms-3"><em class="bi bi-person-circle" id="social-icons"></em></li>
        </ul>
      </div>
    </footer>
  </div>