#drop-item-text {
    font-size: 15px;
    width: 100%;
}

#dropdown-1 {
    color: white;
}

#drop-item-text :hover {
    color: #ed8bf5;
}

#dropdown-1:hover {
    color: #ed8bf5;
}


.dropdownBasic1{
    border-radius: 0;
    border: 0;
    z-index: 1;
}