<div class="row">
    <div class="col">
      <div ngbDropdown class="w-220px d-flex ">
        <a href="#" class="text-decoration-none text-secondary" id="dropdownBasic1" ngbDropdownToggle>{{dropdownBtn.btnName}}</a>
        <div placement="top-end" class="dropdown-menu-dark dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div class="" id="drop-item-text" *ngFor="let dropBtnName of dropdownBtn.btnNames">
                <a class= "rounded-2" ngbDropdownItem>{{dropBtnName}}</a>
            </div>
        </div>
      </div>
    </div>
</div>

